[type=reset],
[type=submit],
button,
html [type=button]
	-webkit-appearance: button
button:focus
	outline:0
.btn
	display: inline-block
	border-radius: rem(2px)
	cursor: pointer
	border: none
	font-size: rem(14px)
	font-family: Roboto
	font-weight: normal
	text-transform: uppercase
	line-height: rem(14px)
	text-align: center
	white-space: nowrap
	vertical-align: middle	
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	min-width: rem(88px)
	margin: rem(8px)
	padding: rem(11px) rem(16px)
.btn-flat
	padding: rem(11px) rem(16px)
.btn + .btn
	margin-left: rem(0px)
.btn-area-float
	height: 1px
	position: relative
	width: 100%
.btn-float
	position: absolute
	top: -28px
	right: 14px
	max-width: 56px
	border-radius: 50%
	background-color: $accent-color
	@include shadow-btn-float(black, 0.3)
	i.material-icons
		font-size: 24px
		margin: 16px
		color: white
.btn-area-float + .body-card .supporting-text-card
	padding: 48px 16px 24px 16px
.btn-area-float + .body-card .primary-title-card + .supporting-text-card,
.btn-area-float + .body-card .primary-title-card + .actions-card + .supporting-text-card
	padding: 16px 16px 24px 16px

	