<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../sass/epale.css">
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script></script>
</head>
<body>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col xs-12 sm-12 md-6 lg-4 xl-6">
					<div class="card">
						<div class="navigation-card"></div>
							<div class="media-area-card">
								<div class="video">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/_UyyKkKvqpI" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="primary-title-card">
										<h2>Title go here</h2>
										<h4>Subtitle go here</h4>
								</div>
							</div>
						<div class="body-card">
							<div class="supporting-text-card">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi veritatis, tempora eaque quod possimus assumenda doloremque in quis cumque similique enim cupiditate mollitia, eius, quos neque ea perspiciatis, a ad!</p>
							</div>
							<div class="actions-card">
								<button type="button" class="btn btn-flat waves-light right">right</button>
								<button type="button" class="btn btn-flat right">flat</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col xs-12 sm-12 md-6 lg-4 xl-6">
					<div class="row-mobile">
						<div class="card card-raised">
							<div class="navigation-card"></div>
							<div class="media-area-card">
							</div>
							<div class="body-card">
								<div class="primary-title-card">
									<h2>Title go here</h2>
									<h4>Subtitle go here</h4>
								</div>
								<div class="supporting-text-card">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi veritatis, tempora eaque quod possimus assumenda doloremque in quis cumque similique enim cupiditate mollitia, eius, quos neque ea perspiciatis, a ad!</p>
								</div>
								<div class="actions-card divider-top-100">
									<button type="button" class="btn btn-flat waves-light right">right</button>
									<button type="button" class="btn btn-flat right">flat</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col xs-12 sm-4 md-6  lg-4 xl-6">
					<div class="row-mobile">
						<div class="card">
							<div class="navigation-card"></div>
							<div class="media-area-card">
							</div>
							<div class="body-card">
								<div class="primary-title-card">
									<h2>Title go here</h2>
									<h4>Subtitle go here</h4>
								</div>
								<div class="actions-card divider-top-100">
									<button type="button" class="btn btn-flat waves-light">go</button>
									<button type="button" class="btn btn-flat">exit</button>
								</div>
								<div class="supporting-text-card divider-top-100">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi veritatis, tempora eaque quod possimus assumenda doloremque in quis cumque similique enim cupiditate mollitia, eius, quos neque ea perspiciatis, a ad!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col xs-12 sm-8 md-6  lg-6 xl-6">
					<div class="row-mobile">
						<div class="card">
							<div class="navigation-card"></div>
							<div class="media-area-card">
							</div>
							<div class="body-card">
								<div class="primary-title-card">
									<h2>Title go here</h2>
									<h4>Subtitle go here</h4>
								</div>
								<div class="supporting-text-card">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi veritatis, tempora eaque quod possimus assumenda doloremque in quis cumque similique enim cupiditate mollitia, eius, quos neque ea perspiciatis, a ad!</p>
								</div>
								<div class="actions-card divider-top-100">
									<button type="button" class="btn btn-flat waves-light right">right</button>
									<button type="button" class="btn btn-flat right">flat</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col s1">
					Contenedor fluido
				</div>
			</div>
		</div>

	</body>
	</html>