<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../sass/epale.css">
</head>
<body>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col xs-12 sm-3 md-3 lg-6 xl-6"></div>
				<div class="col xs-12 sm-3 md-3 lg-6 xl-6"></div>
				<div class="col xs-12 sm-3 md-3 lg-6 xl-6">
					<img src="../images/background-section.png" alt="" class="img-responsive">
				</div>
				<div class="col xs-12 sm-3 md-3 lg-6 xl-6">
					<img class="img-responsive" src="../images/image.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col s1">
				Contenedor fluido
			</div>
		</div>
	</div>
	
</body>
</html>