<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../sass/epale.css">
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="../js/flowtype/flowtype.js"></script>
	<script></script>
</head>
<body>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col xs-12 sm-12 md-6  lg-6 xl-6">
					<div class="card">
						<div class="card-navigation"></div>
						<div class="media-area">
							<div class="video">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/TuBkabBONLY" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						<div class="card-body">
						<div class="text-container">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi veritatis, tempora eaque quod possimus assumenda doloremque in quis cumque similique enim cupiditate mollitia, eius, quos neque ea perspiciatis, a ad!</p>
						</div>
						<div class="actions-card">
							<button type="button" class="btn btn-flat waves-light right">right</button>
							<button type="button" class="btn btn-flat right">flat</button>
						</div>
						</div>
					</div>
				</div>
				<div class="col xs-12 sm-12 md-6 lg-6 xl-6">
					<button type="button" class="btn btn-raised waves-light btn-default">Raised</button>
					<button type="button" class="btn btn-raised waves-light btn-default right">Rai</button>
				</div>
				<div class="col xs-12 sm-4 md-6  lg-6 xl-6">
					<h1 class="em">Esto es un em</h1>
					<h2>Hola esto es un h2</h2>
					<h3>Hola esto es un h3</h3>
					<h4>Hola esto es un h4</h4>
					<h5>Hola esto es un h5</h5>
				</div>
				<div class="col xs-12 sm-8 md-6  lg-6 xl-6">
					<h1>Hola esto es un h1</h1>
					<h2>Hola esto es un h2</h2>
					<h3>Hola esto es un h3</h3>
					<h4>Hola esto es un h4</h4>
					<h5>Hola esto es un h5</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col s1">
				Contenedor fluido
			</div>
		</div>
	</div>
	
</body>
</html>